**
!package.json
!README.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!language-configuration.json
!out/!(protocol).js
!out/*.json
!syntaxes/**
!snippets/**
!engine/dist/umjoonsic-engine.jar
!engine/*LICENSE*.txt
!node_modules/@vscode/debugadapter/package.json
!node_modules/@vscode/debugadapter/License.txt
!node_modules/@vscode/debugadapter/thirdpartynotices.txt
!node_modules/@vscode/debugadapter/lib/*.js
!media/**
!l10n/**
!package.nls*.json
